*.swp
*.html
*.ltx
*.pdf
*.out
*.aux
*.log
*.xml
*.toc
util/out/
compiled/
.DS_Store
posts/img/originals
*.rebuild
posts.example/
/target/
/respatialized/classes/
/respatialized/.cpcache/
/.cpcache/
/respatialized/.nrepl-port
/respatialized/target/
