/**************** KLIPSE-SPECIFIC RULES ***********************/

/* Modify the Code editor's borders */
.CodeMirror {
    padding-left: 3px;
    border: none !important;
}

/* Modify the console title i.e. the bit that says 'Output:') */
.CodeMirror:last-child::before {
  content: "Code:";
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic; 
}

/* Modify the console area (i.e. the area beneath 'Output:') */
.CodeMirror:last-child {
  /* border: 2px solid #ddd !important; */
}


/*************** STANDARD CODEMIRROR RULES *********************
/* 
/* Create your own or copy and paste the ones available at 
/* http://farhadg.github.io/code-mirror-themes/)
*/

.cm-s-default {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #E8E9E8;
	color: #363636;
}
.cm-s-default .CodeMirror-lines {
	/* padding: 8px 0; */
}
.cm-s-default .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #E8E9E8;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-default div.CodeMirror-cursor {
	border-left: 3px solid #363636;
}
.cm-s-default .CodeMirror-activeline-background {
	background: #CBDC2F38;
}
.cm-s-default .CodeMirror-selected {
	background: #F5AA0091;
}
.cm-s-default .cm-comment {
	color: #949494E8;
	background: #DCDCDC8F;
}
.cm-s-default .cm-string {
	color: #639300;
}
.cm-s-default .cm-property {
	color: #005273;
}
.cm-s-default .cm-number {
	color: #005273;
}
.cm-s-default .cm-atom {
	color: #005273;
}
.cm-s-default .cm-keyword {
	color: null;
}
.cm-s-default .cm-operator {
	color: null;
}
.cm-s-default .CodeMirror-linenumber {
	color: #949494E8;
}
