{:paths ["src" "resources" "content"]
 :deps
 {
  ;; core
  org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/test.check {:mvn/version "1.1.0"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}

  ;; site generation
  site.fabricate/fabricate
  {:git/url "https://github.com/fabricate-site/fabricate/"
   :sha "9ee3823a1fecf02630de486459d8bc3c1b31c1cc"}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2" :exclusions [org.clojure/clojure]}
  hickory/hickory {:mvn/version "0.7.1"}
  garden/garden {:mvn/version "1.3.9"}

  ;; data munging
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  metosin/malli {:mvn/version "0.6.1"}
  borkdude/sci {:mvn/version "0.2.6"}
  com.gfredericks/test.chuck {:mvn/version "0.2.10"}
  org.flatland/ordered {:mvn/version "1.5.9"}
  babashka/babashka.curl {:mvn/version "0.0.3"}

  ;; site content
  clojure2d/clojure2d {:mvn/version "1.4.3"}
  thi.ng/geom {:mvn/version "1.0.0-RC4"}
  org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
  generateme/fastmath {:mvn/version "2.1.5"}
  cnuernber/dtype-next {:mvn/version "7.04"}
  techascent/tech.ml.dataset {:mvn/version "5.13"}
  io.github.adam-james-v/svg-clj {:mvn/version "0.0.11"}
  applied-science/darkstar {:git/url "https://github.com/applied-science/darkstar/"
                            :sha "541a3ff36065c59e92fe6aa61e41a4385ba6f893"}

  ;; site indexing and dbs
  org.clojars.quoll/asami {:mvn/version "2.1.2"}

  ;; performance
  criterium/criterium {:mvn/version "0.4.6"}

  ;; site building functions
  }
 :jvm-opts ["--illegal-access=warn"
            "-Dio.netty.tryReflectionSetAccessible=false"
            "-Xms4G" "-Xmx8G"]
 :aliases

 {
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :exec-fn cognitect.test-runner.api/test
   :main-opts ["-m" "cognitect.test-runner"]}}
 }
