{:paths ["src" "resources" "content"]
 :deps
 {
  ;; core
  org.clojure/clojure {:mvn/version "1.11.1"}
  ;; bizarrely, commenting this dep out causes tests to fail
  org.clojure/test.check {:mvn/version "1.1.0"}

  ;; site generation
  site.fabricate/fabricate
  {:git/url "https://github.com/fabricate-site/fabricate/"
   #_ #_ :git/tag "2022.10.10"
   :git/sha "35b3ddecc6044904ea14c10baaa0fa647ac65146" }
  hiccup/hiccup {:mvn/version "2.0.0-alpha2" :exclusions [org.clojure/clojure]}
  hickory/hickory {:mvn/version "0.7.1"}
  garden/garden {:mvn/version "1.3.10"}

  ;; data munging
  org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}
  metosin/malli {:mvn/version "0.9.2"}

  org.flatland/ordered {:mvn/version "1.5.9"}
  babashka/fs {:mvn/version "0.2.12"}
  babashka/babashka.curl {:mvn/version "0.1.2"}

  ;; site content
  clojure2d/clojure2d {:mvn/version "1.4.4"}
  thi.ng/geom {:mvn/version "1.0.0-RC5"}
  generateme/fastmath {:mvn/version "2.1.8"}
  scicloj/tablecloth {:mvn/version "6.103"}
  io.github.adam-james-v/svg-clj
  {#_ #_:mvn/version "0.0.11"
   :git/url "https://github.com/adam-james-v/svg-clj"
   :sha "dce9d756bb1052034d360ae7c0743dd9153fca18"}
  applied-science/darkstar {:git/url "https://github.com/applied-science/darkstar/"
                            :sha
                            "abd480cc382b7ae143f7902ee9d300cdc1a705cc"}

  ;; site indexing and dbs
  org.clojars.quoll/asami {:mvn/version "2.3.2"}


  ;; site building functions
  }
 :aliases
 {
  :kaocha/test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
                :exec-fn kaocha.runner/exec-fn
                :exec-args {:reporter [kaocha.report/documentation]}}
  :kaocha/watch {:extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
                 :exec-fn kaocha.runner/exec-fn
                 :exec-args {:watch? true
	                     :skip-meta :slow
	                     :fail-fast? true }}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :libpython-clj {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
                             "--enable-native-access=ALL-UNNAMED"]
                  :extra-deps {clj-python/libpython-clj {:mvn/version "2.020"}}}
  :runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :exec-fn cognitect.test-runner.api/test
   :main-opts ["-m" "cognitect.test-runner"]}
  :dev {:extra-paths ["test"]
        :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                     com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.3"}
                     com.taoensso/tufte {:mvn/version "2.2.0"}}
        :jvm-opts ["-Djdk.attach.allowAttachSelf"
                   "-XX:+UnlockDiagnosticVMOptions"
                   "-XX:+DebugNonSafepoints"
                   "--illegal-access=warn"
                   "-Dio.netty.tryReflectionSetAccessible=false"
                   "-Xms4G" "-Xmx12G"]}}}
