{:paths ["src" "resources" "content"]
 :deps
 {
  ;; core
  org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/test.check {:mvn/version "1.1.0"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}

  ;; site generation
  site.fabricate/fabricate {:git/url "https://github.com/fabricate-site/fabricate/"
                            :sha "14f0b53275321837c9a31ce1addb5d5076fdea79"}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2" :exclusions [org.clojure/clojure]}
  hickory/hickory {:mvn/version "0.7.1"}
  garden/garden {:mvn/version "1.3.9"}

  ;; data munging
  metosin/malli {:mvn/version "0.6.1"}
  borkdude/sci {:mvn/version "0.2.6"}
  com.gfredericks/test.chuck {:mvn/version "0.2.10"}
  org.flatland/ordered {:mvn/version "1.5.9"}
  babashka/babashka.curl {:mvn/version "0.0.3"}

  ;; site content
  clojure2d/clojure2d {:mvn/version "1.4.3"}
  thi.ng/geom {:mvn/version "1.0.0-RC4"}
  org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
  generateme/fastmath {:mvn/version "2.1.5"}
  cnuernber/dtype-next {:mvn/version "7.04"}
  techascent/tech.ml.dataset {:mvn/version "5.13"}

  ;; site indexing and dbs
  org.clojars.quoll/asami {:mvn/version "2.1.2"}

  ;; performance
  criterium/criterium {:mvn/version "0.4.6"}

  ;; site building functions
  }
 :jvm-opts ["--illegal-access=deny" "-Xms4G" "-Xmx8G"]
 :aliases

 {
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "334f2e2a5491747dff52f9ca8cbb4a53f54d344d"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :serve {:extra-deps {nasus/nasus {:mvn/version "0.1.7"}}
          :main-opts ["-m" "http.server" "--dir" "public"]}}
 }
