html {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-family: "Basier Square";
  background: #011117;
  color: hsla(36.363636, 56.896553%, 87.254906%, 1.0);
  line-height: 1.45em;
  font-size: 1.5em;
}

.mw-full {
  max-wdith: 100%;
}

.mw1 {
  max-width: 1.45em;
}

.mw2 {
  max-width: 2.9em;
}

.mw3 {
  max-width: 4.35em;
}

.mw4 {
  max-width: 5.8em;
}

.mw5 {
  max-width: 7.25em;
}

.mw6 {
  max-width: 8.7em;
}

.mw7 {
  max-width: 10.15em;
}

.mw8 {
  max-width: 11.6em;
}

.mw9 {
  max-width: 13.049999999999999em;
}

.mw10 {
  max-width: 14.5em;
}

.mw11 {
  max-width: 15.95em;
}

.mw12 {
  max-width: 17.4em;
}

.mw13 {
  max-width: 18.849999999999998em;
}

.mw14 {
  max-width: 20.3em;
}

.mw15 {
  max-width: 21.75em;
}

.mw16 {
  max-width: 23.2em;
}

.mw17 {
  max-width: 24.65em;
}

.mw18 {
  max-width: 26.099999999999998em;
}

.mw19 {
  max-width: 27.55em;
}

.mw20 {
  max-width: 29.0em;
}

.mw21 {
  max-width: 30.45em;
}

.mw22 {
  max-width: 31.9em;
}

.mw23 {
  max-width: 33.35em;
}

.mw24 {
  max-width: 34.8em;
}

.mw25 {
  max-width: 36.25em;
}

.mw26 {
  max-width: 37.699999999999996em;
}

.mw27 {
  max-width: 39.15em;
}

.mw28 {
  max-width: 40.6em;
}

.mw29 {
  max-width: 42.05em;
}

.mw30 {
  max-width: 43.5em;
}

.mw31 {
  max-width: 44.949999999999996em;
}

.mw32 {
  max-width: 46.4em;
}

.mw33 {
  max-width: 47.85em;
}

.mw34 {
  max-width: 49.3em;
}

.mw35 {
  max-width: 50.75em;
}

.mw36 {
  max-width: 52.199999999999996em;
}

.mw37 {
  max-width: 53.65em;
}

.mw38 {
  max-width: 55.1em;
}

.mw39 {
  max-width: 56.55em;
}

.mw40 {
  max-width: 58.0em;
}

.mw41 {
  max-width: 59.449999999999996em;
}

.mw42 {
  max-width: 60.9em;
}

.mw43 {
  max-width: 62.35em;
}

.mw44 {
  max-width: 63.8em;
}

.mw45 {
  max-width: 65.25em;
}

.mw46 {
  max-width: 66.7em;
}

.mw47 {
  max-width: 68.14999999999999em;
}

.mw48 {
  max-width: 69.6em;
}

.mw49 {
  max-width: 71.05em;
}

.mw50 {
  max-width: 72.5em;
}

.mw51 {
  max-width: 73.95em;
}

.mw52 {
  max-width: 75.39999999999999em;
}

.mw53 {
  max-width: 76.85em;
}

.mw54 {
  max-width: 78.3em;
}

.mw55 {
  max-width: 79.75em;
}

.mw56 {
  max-width: 81.2em;
}

.mw57 {
  max-width: 82.64999999999999em;
}

.mw58 {
  max-width: 84.1em;
}

.mw59 {
  max-width: 85.55em;
}

.mw60 {
  max-width: 87.0em;
}

.mw61 {
  max-width: 88.45em;
}

.mw62 {
  max-width: 89.89999999999999em;
}

.mw63 {
  max-width: 91.35em;
}

.mw64 {
  max-width: 92.8em;
}

.mw65 {
  max-width: 94.25em;
}

.mw66 {
  max-width: 95.7em;
}

.mw67 {
  max-width: 97.14999999999999em;
}

.mw68 {
  max-width: 98.6em;
}

.mw69 {
  max-width: 100.05em;
}

.mw70 {
  max-width: 101.5em;
}

.mw71 {
  max-width: 102.95em;
}

.mw72 {
  max-width: 104.39999999999999em;
}

.mw73 {
  max-width: 105.85em;
}

.mw74 {
  max-width: 107.3em;
}

.mw75 {
  max-width: 108.75em;
}

.mw76 {
  max-width: 110.2em;
}

.mw77 {
  max-width: 111.64999999999999em;
}

.mw78 {
  max-width: 113.1em;
}

.mw79 {
  max-width: 114.55em;
}

.mw80 {
  max-width: 116.0em;
}

.mh1 {
  max-height: 1.45em;
}

.mh2 {
  max-height: 2.9em;
}

.mh3 {
  max-height: 4.35em;
}

.mh4 {
  max-height: 5.8em;
}

.mh5 {
  max-height: 7.25em;
}

.mh6 {
  max-height: 8.7em;
}

.mh7 {
  max-height: 10.15em;
}

.mh8 {
  max-height: 11.6em;
}

.mh9 {
  max-height: 13.049999999999999em;
}

.mh10 {
  max-height: 14.5em;
}

.mh11 {
  max-height: 15.95em;
}

.mh12 {
  max-height: 17.4em;
}

.mh13 {
  max-height: 18.849999999999998em;
}

.mh14 {
  max-height: 20.3em;
}

.mh15 {
  max-height: 21.75em;
}

.mh16 {
  max-height: 23.2em;
}

.mh17 {
  max-height: 24.65em;
}

.mh18 {
  max-height: 26.099999999999998em;
}

.mh19 {
  max-height: 27.55em;
}

.mh20 {
  max-height: 29.0em;
}

.mh21 {
  max-height: 30.45em;
}

.mh22 {
  max-height: 31.9em;
}

.mh23 {
  max-height: 33.35em;
}

.mh24 {
  max-height: 34.8em;
}

.mh25 {
  max-height: 36.25em;
}

.mh26 {
  max-height: 37.699999999999996em;
}

.mh27 {
  max-height: 39.15em;
}

.mh28 {
  max-height: 40.6em;
}

.mh29 {
  max-height: 42.05em;
}

.mh30 {
  max-height: 43.5em;
}

.mh31 {
  max-height: 44.949999999999996em;
}

.mh32 {
  max-height: 46.4em;
}

.mh33 {
  max-height: 47.85em;
}

.mh34 {
  max-height: 49.3em;
}

.mh35 {
  max-height: 50.75em;
}

.mh36 {
  max-height: 52.199999999999996em;
}

.mh37 {
  max-height: 53.65em;
}

.mh38 {
  max-height: 55.1em;
}

.mh39 {
  max-height: 56.55em;
}

.mh40 {
  max-height: 58.0em;
}

.mh41 {
  max-height: 59.449999999999996em;
}

.mh42 {
  max-height: 60.9em;
}

.mh43 {
  max-height: 62.35em;
}

.mh44 {
  max-height: 63.8em;
}

.mh45 {
  max-height: 65.25em;
}

.mh46 {
  max-height: 66.7em;
}

.mh47 {
  max-height: 68.14999999999999em;
}

.mh48 {
  max-height: 69.6em;
}

.mh49 {
  max-height: 71.05em;
}

.mh50 {
  max-height: 72.5em;
}

.mh51 {
  max-height: 73.95em;
}

.mh52 {
  max-height: 75.39999999999999em;
}

.mh53 {
  max-height: 76.85em;
}

.mh54 {
  max-height: 78.3em;
}

.mh55 {
  max-height: 79.75em;
}

.mh56 {
  max-height: 81.2em;
}

.mh57 {
  max-height: 82.64999999999999em;
}

.mh58 {
  max-height: 84.1em;
}

.mh59 {
  max-height: 85.55em;
}

.mh60 {
  max-height: 87.0em;
}

h1, h2, h3, h4, h5, h6 {
  color: #F6971B;
}

a {
  color: hsla(193.33333, 20.930233%, 35.294117%, 1.0);
}